@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;  
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
}


/* navigation */

.menu ul {
    color: #d0d2db;
    font-size: 120%;
    text-transform: uppercase;
    padding-top: 130px;
    width: 100%;
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline-block;
    max-width: 10em;
    margin: 0 40px;
    position: static;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: solid 1px;
    padding: .5em 1em;
    overflow: hidden;
    margin: -1em;
}

.active {
    border-bottom: solid 1px;
    padding: .5em 1em;
    overflow: hidden;
    margin: -1em;
}

/* home page */

#home-menu {
    background-color: #3a3a3a;
    width: 100%;
    height: 300px;
}

#header-logo {
    height: 500px;
    max-width: 750px;
    margin: 0 auto;
}

#header-logo img {
    width: 100%;
    object-fit: contain;
}
