@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

h1,
h2 {
    text-transform: uppercase;
    color: #042e7d;
    font-weight: 800;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 200%;
    border-bottom: #042e7d solid 3px;
    margin: 0 15%;
    text-align: center;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 120%;
}

small {
    font-size: 60%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.heading-logo {
    margin-top: 1.5625rem;
    height: 21.875rem;
    object-fit: contain;
}

.descriptor-text {
    font-size: 130%;
    font-weight: 800;
    padding-right: 5%;
}

.button {
    font-family: "Playfair display", sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: -0.0625em -0.0625em #3a3a3a, 0.0625em -0.0625em #3a3a3a, -0.0625em 0.0625em #3a3a3a, 0.0625em 0.0625em #3a3a3a;
    text-transform: uppercase;
    display: block;
    border: 0.25rem solid rgb(204, 148, 115);
    border-radius: 10%;
    background-color: rgb(255, 102, 0);
    width: 9.375rem;
    height: 4.6875rem;
}

.button:hover {
    text-shadow: none;
    color: rgb(255, 102, 0);
    border: 0.25rem solid #d0d2db;
    border-radius: 10%;
    background-color: white;
}

/* navigation */

header {
    font-size: 120%;
    position: fixed;
    background-color: #3a3a3a;
    width: 100%;
    height: 6.25rem;
    z-index: 1;
}

header ul {
    padding-top: 1.875rem;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    color: #d0d2db;
    text-transform: uppercase;
    z-index: 1;
}

header li {
    padding: 0 0.3125rem;
    z-index: 1;
}

header a:hover {
    border-bottom: solid 0.0625em;
    padding: .5em 1em;
    overflow: hidden;
    margin: -1em;
    z-index: 1;
}

.active {
    border-bottom: solid 0.0625em;
    padding: .5em 1em;
    overflow: hidden;
    margin: -1em;
    z-index: 1;
}

/* home page */

#home-heading {
    padding-top: 6.25rem;
}

#home-heading img {
    width: 100%;

    /* animates home heading logo */

    animation-name: logo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes logo-zoom {
    from {
        transform: scale(1.25);
        opacity: 0.25;
    }

    to {
        transform: scale(1.0);
        opacity: 1;
    }
}

#home-heading h1 {
    text-align: center;
    clear: both;
}

#home-heading a {
    line-height: 2.1875em;
    margin: 1.5625rem auto;
}

/* job categories */

.job-categories {
    column-count: 1;
    margin: 1.5625rem auto;
}

.job-column {
    width: 25rem;
    height: 40rem;
    display: block;
    text-align: center;
}

.category-image-container {
    width: 100%;
    height: 22.5rem;
    margin: 1.5625rem auto;
    overflow: hidden;
}

.category-image-container img {
    height: 100%;
    border: 0.1875rem solid #d0d2db;
}

.job-column h3 {
    color: #042e7d;
}

.job-column a:hover {
    text-decoration-color: #042e7d;
    text-decoration: underline;
    text-underline-offset: 0.3125em;
    text-decoration-thickness: 0.125em;
}

.job-column,
p {
    margin: 0 auto;
    width: 82.5%;
}

/* recognition  */

#recognized-outer {
    margin: 1.5625rem auto;
    width: 90%;
}

#abs-outer {
    display: flexbox;
    margin: 0 auto;
    width: 35%;
    text-align: center;
}

.recognized-logo {  
    display: block;
    width: 100%;
}

/* c-bird essence */

#c-bird-essence {
    display: flexbox;
    width: 75%;
    margin: 1.5625rem auto 0;
}

#essence-outer {
    display: flexbox;
    width: 75%;
    padding-right: 5.5%;
    margin: 1.5625rem auto 0;
}

#c-bird-essence img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#client-quote {
    width: 60%;
    text-align: center;
    margin: 25px auto 4.6875rem;
}

/* c-bird in action */

#c-bird-in-action p {
    margin-top: 25px;
    text-align: center;
}

#project-gallery {
    margin: 25px auto 0;
    width: 90%;
}

.gallery-image {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: 3px solid #d0d2db;
}

.gallery-container {
    column-count: 3;
    display: flexbox;
    justify-content: center;
}

.thin-gallery-container {
    column-count: 3;
    display: flexbox;
    justify-content: center;
}

.thin-gallery-image {
    display: block;
    width: 75%;
    margin: 0 auto;
    border: 3px solid #d0d2db;
}

/* footer */

footer {
    margin-top: 4.6875rem;
    background-color: #3a3a3a;
    width: 100%;
    height: 100px;
    box-sizing: content-box;
}

footer ul {
    color: #d0d2db;
    font-size: 120%;
    text-transform: uppercase;
    width: 100%;
    list-style: none;
    text-align: center;
}

footer li {
    vertical-align: middle;
    display: inline-block;
    width: 20%;
    margin-right: 2.5%;
}

footer a:hover {
    border-bottom: solid 0.0625em;
    padding: .5em 1em;
    overflow: hidden;
    margin: -1em;
}

#footer-linkedin a:hover {
    border-bottom: solid 0.0625em;
    padding: .25em 1em;
    overflow: hidden;
    margin: 1em;
}

#footer-linkedin {
    font-size: 150%;
}

#footer-logo-bg {
    margin: 5px 0;
    background-color: #d0d2db;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

#footer-logo-bg img {
    padding: 20px 0 10px 2px;
    height: 60px;
    object-fit: cover;
}

/* utm hull gauging page */

#hull-gauging-heading {
    padding-top: 100px;
    width: 100%;
    text-align: center;
}

#hull-gauging-heading h1 {
    margin-bottom: 50px;
}

#hull-gauging-heading h2 {
    margin-bottom: 25px;
}

#hull-heading-image {
    display: inline-block;
    height: 400px;
    border: 3px solid #d0d2db;
}

#hull-gauging-heading p {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#hull-gauging-heading a {
    margin: 25px auto 4.6875rem;
    line-height: 35px;
}

/* why c-bird */

#why-c-bird ul {
    font-size: 150%;
    font-weight: 800;
    text-align: center;
    margin: 25px auto 25px;
    line-height: 60px;
}

#why-c-bird i {
    font-size: 150%;
    vertical-align: sub;
    color: #042e7d;
}

#why-c-bird a {
    margin: 25px auto 4.6875rem;
    line-height: 35px;
}

/* technology */

#technology {
    text-align: center;
    margin-bottom: 4.6875rem;
}

#technology p {
    margin: 25px auto 25px;
}

#sign-up-outer {
    margin: 0 auto 25px;
    width: 250px;
    border: 3px solid white;
    border-radius: 10%;
}

#sign-up-outer:hover {
    border: 3px solid #042e7d;
    border-radius: 10%;
}

#sign-up-button {
    height: 200px;
    width: 200px;
}

#sign-up-button img {
    height: 150px;
}

#sign-up-button h3 {
    color: #042e7d;
    text-transform: uppercase;
}

#nda {
    width: 52.5%;
    text-align: center;
    text-decoration: underline double 3px;
    text-underline-offset: 5px;
    font-size: 150%;
    font-weight: 800;
    padding-right: 5%;
}

/* close-up survey page */

#survey-heading {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
}

#survey-heading h2 {
    margin: 50px 15% 25px;
}

#survey-heading-image {
    display: inline-block;
    height: 400px;
    border: 3px solid #d0d2db;
}

#survey-heading p {
    margin-bottom: 25px;
}

/* platforms and solutions */

#platforms-and-solutions {
    width: 100%;
    text-align: center;
}

#platforms-and-solutions .descriptor-text {
    margin: 25px auto 0;
    width: 50%;
}

#platforms-and-solutions img {
    display: block;
    clear: both;
    height: 250px;
    margin: 25px auto;
    padding-right: 60px;
}

.solution-category {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 28%;
    margin: 0 2.5% 4.6875rem;
}

.solution-category h3 {
    margin-top: 25px;
    color: #042e7d;
}

.solution-category p {
    margin: 20px 0;
}

/* consultancy page */

#consultancy-heading {
    padding-top: 100px;
    width: 100%;
    text-align: center;
}

#consultancy-heading h1 {
    margin-bottom: 50px;
}

#consultancy-heading p {
    font-size: 120%;
    width: 50%;
    margin: 25px auto;
}


/* consultancy categories */

#consultancy-categories {
    column-count: 2;
    text-align: center;
}

.consultancy-category {
    margin: 0 auto;
    display: block;
    height: 700px;
}

.consultancy-image-container {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.consultancy-image-container img {
    height: 400px;
    border: 3px solid #d0d2db;
}

.consultancy-category h3 {
    color: #042e7d;
    margin-bottom: 25px;
}

.consultancy-category p {
    width: 70%;
    margin: 25px auto 50px;
    padding-right: 5%;
}

/* quote button */

#quote-button {
    margin: 25px auto 4.6875rem;
    line-height: 70px;
    letter-spacing: 0.0625em;
}

/* contact page */

#contact-heading {
    padding-top: 100px;
    text-align: center;
}

/* contact form */

#contact-form {
    margin: 0 20%;
    text-align: left;
}

#contact-form label {
    font-weight: 600;
}

#contact-form input {
    margin: 10px 5px 20px 0;
}

#contact-form textarea {
    margin: 10px 0 20px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-text-input {
    border: 3px groove #d0d2db;
    line-height: 25px;
    width: 100%;
    padding: 0 5px;
}

#form-submit {
    font-size: 110%;
    letter-spacing: 0.0625em;
}

/* founders section */

#founders {
    margin-top: 4.6875rem;
    text-align: center;
    column-count: 2;
    margin: 25px 20% 0;
}

.founders-column .descriptor-text {
    color: #042e7d;
    margin-bottom: 10px;
}

.founders-column {
    text-align: center;
    display: block;
    margin-bottom: 4.6875rem;
}

.founder-image-container {
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
}

.founder-image-container img {
    height: 300px;
}

.linkedin:hover {
    border-bottom: 0.0625em solid #042e7d;
    padding: 0 0.5em;
    overflow: hidden;
}

.linkedin {
    color: #042e7d;
    margin: 25px 0 4.6875rem;
    font-size: 250%;
}

/* track record */

#track-record ul {
    font-size: 150%;
    font-weight: 800;
    text-align: center;
    margin: 25px auto 4.6875rem;
    line-height: 60px;
}

#track-record i {
    font-size: 150%;
    vertical-align: sub;
    color: #042e7d;
}